*,
*::before, 
*::after{                       
    box-sizing: border-box;   /* Does on all projects, calculates padding within a width as opposed to adding onto a width */
}

/* note this is how you set up custom font and color settings in css, using --*/

:root {
    --ff-primary: 'Source Sans Pro', sans-serif; /* these values are gotten directyl from google fonts site */
    --ff-secondary : 'Source Code Pro', monospace;

    --fw-reg:  300;  /* fontweights */
    --fw-bold: 900;

    --clr-light: #fff;  /* clr stands for color, specifying color of background and text (note we have "light" and "dark" color themes that can be used in multiple places) */
    --clr-dark: #303030;
    --clr-accent: #50F7AD;
    --clr-lightaccent:#A7F1D1;
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;   /* rem units are relative units that scale up or down based on the root em, or "root element" (aka <html>). Most browsers default this value to 16 px on computers. */
    --fs-h3: 1.25rem;
    --fs-body: 1.25rem;
    
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.125em rgba(0,0,0,.15);
}

/* if your screen size is larger than 800px, update sizing of fonts to these values */

@media (min-width:800px) { 
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General Styles */

html {
    scroll-behavior: smooth;
}

body {  /* selects the HTML body section and puts specific input values in its variable (is this class attributes being editied?) */ 

    background : var(--clr--light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.5;
}

section { 
    
    padding: 5em 2em; }


img{  /* again this calls the HTML image block */

    display: block;
    max-width: 100%  /* he bases off of image size, might need to change */
}

strong { font-weight: var(--fw-bold)}

/* Typography */

h1,
h2,
h3 { 
    line-height: 1 ;
    margin: 0;  /* resetting the margin to 0 */
}

h1 {font-size: var(--fs-h1)}
h2 {font-size: var(--fs-h2)}
h3 {font-size: var(--fs-h3)}

/* styling section titles and subtitles */   /* spooky these are custom classes we made */

.section__title{
    margin-bottom: 0.24em    /* !!! always does margins based on em for non root stuff, or size of parent widget. different then rem */
}   


.section__title--intro{
    font-weight: var(--fw-reg);
    margin-bottom: .5em; /* !!! always does margins based on em for non root stuff, or size of parent widget. different then rem */
} 

/* Note kind of special */



.section__subtitle { /* note both --intro and --about use the parent parameters from .section_subtitle */
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {

    background: var(--clr-accent);
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

.specialization {
    color: var(--clr-dark);

}

/* Header */

header { 
    display: flex;
    justify-content: space-between;
    padding: 1em;
    height: 3rem;
}

.logo {
    max-width: 100px;
}

.logo img {

    visibility: hidden;

}

.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%); /* position of navigation relative to viewport. 0 complete left (whole page) when hovered on
    leaving 0 % to work on for now, will change */

    transition-timing-function: cubic-bezier(.5, 0, .5, 1);
    transition-duration:  250ms;
}

.nav__list {
    list-style:none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;

}

.nav__link {
    color: inherit;
    font-weight: var((--fw-bold));
    font-size: var(--fs-h2);
    text-decoration: none;

}

.nav__link:hover {
    color: var(--clr-accent);
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em; /* keeps in mind the padding put in place */
    top: 1em;
    z-index: 1000; /* Z index determines what is in front of another part. Default is 0 RELATIVE to parent. 
    /* This ensures our .nav-toggle is always in front */

}

.nav-open .nav {
    transform: translateX(0%);
} 

.nav-open .nav-toggle { /* clicking the links in the menu toggle dont result in screen moving down to that section */
    position: fixed;
}

.nav-open .hamburger {

    transform: rotate(.625turn);
    background: var(--clr-accent); 
}


.nav-open .hamburger::before {

    transform: rotate(90deg) translateX(-6px);
     background: var(--clr-accent); 
}

.nav-open .hamburger::after{
    opacity: 0;
}


.hamburger {
    display: block;
    position: relative;
}

.hamburger,   
.hamburger::before,
.hamburger::after {  /* all three lines are created independantly; 1 before, hamburger, 1 after */

    background: var(--clr-dark);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;

}

.hamburger::before,
.hamburger::after {
    content: ''; /* visibility */
    position: absolute; /* since absolute pseudo element we dont need to worry about block display */
    left:0; /* remember absolute references .hamburger's position */
    right: 0;
    
    }

    .hamburger::before{ top: 6px;}
    .hamburger::after { bottom: 6px;}

/* Intro Section */


.intro {
    position : relative;
    height: 40rem;
}

.intro__img{
    box-shadow: var(--bs) ;
}




@media (min-width: 600px ) {  /* changing screen sizes, designing from 300 up, 600 up, and 900 up vs specific devices. */
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        column-gap: 1em; 
        grid-template-areas:
        "img title"
        "img subtitle";
        grid-template-columns : min-content max-content;
    }

    .section__title--intro,

    .intro__img {

       
        min-width: 250px;
        position: relative;
        z-index: 2;
       
    }
    

    .section__title--intro {
        place-items: center;
        line-height: 1.2em;

    }



    .section__subtitle--intro {  /* this is the green bar strip saying welcome to engineering portfolio */
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2 / 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 2.5em);
        margin-top: 1em;
    }

}

/* My Specializations */

.my-specializations { /* this is the image container */

    background-color: var(--clr-dark);
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("dark_engineering_background.avif") ; /* dark tint overlay with background property */
    background-size: cover ;
    color: var(--clr-light);
    text-align: center;

    }

.my-specializations::after {
    content: "";
    position: absolute;
    background-size: cover;
    background: var(--clr-dark); /* Semi-transparent black overlay */

    } 
    
    .section__title--specializations {
        color: var(--clr-accent);
        position: relative ; /* relative positioning means it is based on it's standard center location within the widget (normal position). Note fixed would position it relative to viewport, IE always on the screen */
        margin-bottom: 1em;
    }
    
    .section__title--specializations::after {  /* note this is a pseudo element : needs a content or will not appear */
    
    content: ' ';
    display: block;
    width: 6em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);  /* can use current color to set to color of element pseudo works alongside */
    opacity: 0.5;
    }

    .section__subtitle--specializations {

        padding-bottom: 1.5em;
    }
    
    .specializations { /* setting the max size of projects */
    
        max-width: 1000px; /* max size of the specializations space itself */

        margin: 1em;
        padding: 1em;
        
    }

    .specialization {

        background-color: var(--clr-light);
        border-radius : 25px;
        margin: 0.5em;
        padding-top: 0.5em;
        padding-bottom: 0.25em;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .specialization-button {
        background-color: var(--clr-accent);
         border-radius : 1em; 
        padding: 0.5em;
        color: var(--clr-dark);
        border: none;
        margin: 1.5em;
        cursor: pointer;
    }
    /* a.specialization-button {
        color: var(--clr--light);
    }  */

    
    @media (min-width: 800px) { /* for grid size between 800 and 1500, have two columns */
        
        .specializations {
            display:grid;
            grid-template-columns:repeat( 2, 1fr );
            max-width: 800px;
            margin: 0 auto;
        }

    
        .specialization + .specialization {
            margin-left: 1em;
        }

        .specialization {

            background-color: var(--clr-light);
            padding-top:1em;
            padding-bottom: 0.5em;
            border-radius : 25px;
            
        }
    }

   
 
/* end specializations */

/* About Me */

.about-me__img {
    box-shadow: var(--bs);
}
.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__image2 {
    display: none;
}

@media (min-width: 900px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 300px; /* fr is fraction of available space in grid container */
        grid-template-areas:
        "title img"
        "subtitle img"
        "text img";
        grid-column-gap: 2em;
    }

    .section__title--about {
        grid-area: title;
    }
    .section_subtitle--about {
        grid-area: subtitle;
        grid-column: 1 / -1 ;
        left: -2em;
        position: relative;
        width: calc(100% + 4em);
        padding-left: 2em;
        padding-right: calc(200px + 4em);

    }
    .about-me__body {
        grid-area: text;
    }

    .about-me__image {
        display: none;
    } 

    .about-me__image2 {
        display: block;
        height: 100%;
        grid-area: img;
        box-shadow: var(--bs);
    }
}

/* Featured Projects */

.my-projects {

background-color: var(--clr-dark);
color: var(--clr-light);
text-align: center;

}

.section__title--projects {
    color: var(--clr-accent);
    position: relative ; /* relative positioning means it is based on it's standard center location within the widget (normal position). Note fixed would position it relative to viewport, IE always on the screen */
}

.section__title--projects::after {  /* note this is a pseudo element : needs a content or will not appear */

content: '';
display: block;
width: 3em;
height: 1px;
margin: 0.5em auto 1em;
background: var(--clr-light);  /* can use current color to set to color of element pseudo works alongside */
opacity: 0.5;
}

/* Grid Container */
.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 2em;
    margin-top: 20px;
    margin:auto;
}

/* Make the link block-level so it covers the image item */
.image-item {
    position: relative;
    overflow: hidden;  /* Ensures content doesn't overflow */
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--clr-dark);
    display: block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;  /* Smooth transition */
    margin: auto;
}

/* Ensure the image fills its container */
.image-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    transition: transform 0.3s ease; /* Smooth image transition */
    margin: auto;
}

/* Overlay Styling */
.image-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--clr-light);
    background: var(--clr-dark);
    padding: 1em 1em;
    border-radius: 1.5em;
}

/* Text Styling */
.overlay-text {
    font-size: 18px;
    font-weight: bold;
}

/* Show overlay on hover */
.image-item:hover .image-overlay {
    opacity: 1;
}

/* Hover effect for image expansion and green highlight */
.image-item:hover {
    transform: scale(1.05);  /* Image slightly expands */
    box-shadow: 0 8px 16px var(--clr-accent);  /* Green shadow on hover */
}

/* Ensure image text overlay stays centered on expansion */
.image-item:hover img {
    transform: scale(1.05);  /* Scale the image to grow */
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .overlay-text {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .overlay-text {
        font-size: 18px;
    }
}

/* Footer */

.footer {

    background: #111;
    color:var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);

}

.footer__link  {
    color: inherit;
    text-decoration: none;
    font-weight: var(--fw-bold);


}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none; /* no bulletpoints :/ */
    display: flex;  /* flex vs grid is 1D vs 2D */
    justify-content: center;
    margin: 2em 0;
    padding: 0p;
}

.social-list__item {

    margin: 0 .5em;
    font-size: 3em;
    color: var(--clr-accent);

}

/* Individual portfolio item Styles */

.portfolio-item-individual { 
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 0em;
    padding-top: 0em;
}

.portfolio-item-individual h3 { 
    margin-top: 1em;
    max-width: 800px;
    margin-left: auto; 
    margin-right: auto;
}

.portfolio-item-individual p {  /* specifically for portfolio paragraph items */
    max-width: 800px;
    margin-left: auto; 
    margin-right: auto;
    font-size: var(--fs-body);
    
}

.portfolio-item-individual img { 
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.body-area {
    /* margin-bottom: 4em; */
    padding-top: 1em;
}

.title_1 {
    margin-bottom: 1.25em;

}

.title_2 {
    margin-top: 1.5em;
    margin-bottom: 1.25em;

}

.p1 {
    margin-bottom: 2em;
}
.p2 {}
.p3 {}
.p4 {}

.reference {

    padding-top: 1.75em;
}

/* Mission Statement Coding */

/* Cover Section */
.cover {
    position: relative;
    height: 100vh; /* Full viewport height */
    background-image: url('../img/mission_main/coverpage.webp');    
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .title {
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
    animation: fadeIn 2s ease-out;
  }
  
  .subtitle {
    font-size: 1.5em;
    font-style: italic;
    margin-bottom: 20px;
    opacity: 0;
    animation: fadeIn 2s ease-out 1s forwards;
  }
  
  .cta-button {
    padding: 10px 20px;
    background-color: #ff6f61;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #e55547;
  }
  
  /* Simple Animation for fade-in effect */

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Career Mission */
  
  .content {
    padding: 50px;
    text-align: center;
  }
  
  .content h2 {
    margin-bottom: 20px;
  }
  
  .content p {
    font-size: 1.2em;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
  }
  
  /* Media Queries for Responsive Design */

  @media (max-width: 768px) {
    .title {
      font-size: 2.5em;
    }
  
    .subtitle {
      font-size: 1.2em;
    }
  
    .cta-button {
      font-size: 1em;
    }
  }
  
  @media (max-width: 480px) {
    .title {
      font-size: 2em;
    }
  
    .subtitle {
      font-size: 1em;
    }
  
    .cta-button {
      font-size: 0.9em;
    }
}


/* Core Knowledge Base Section */

.values {
    padding: 40px 10px;
    background-color: #000;
    color: white;
    text-align: center;
}

.values h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    text-transform: uppercase;
}


.grid_container {  /* this is container that is parent of grid child */
    display: flex;
    justify-content: center ;  /* Centers horizontally */
   
    
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    width: 95% ; /* grid can take 95% of space in its parent container */
    justify-content: auto;  /* Centers horizontally */
   
}

.value-item {
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.value-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px var(--clr-accent);
}

.value-item img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.value-item h3 {  
    margin-top: 20px;
    color: var(--clr-accent); 

}

.value-item p {
    margin-top: 10px;
    
}


/* Mission Section */

.mission {
    background-color: #f0f0f0;
    padding: 50px 20px;
}

.mission .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.mission-text {
    flex: 1;
    color: #333;
}

.mission-text h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #000;
}

.mission-text p {
    font-size: 1.2em;
    line-height: 1.5;
}

.mission-image img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Responsive Adjustments */

@media (max-width: 768px) {
   

    .mission .container {
        flex-direction: column;
        text-align: center;
    }

    .mission-image img {
        width: 100%;
        max-width: none;
        margin-top: 20px;
    }

    .grid {
        grid-template-columns: 1fr;
        
    }
}

.mission-item-individual {
    display: grid ;
    grid-template-columns: (4fr 1fr);
    grid-template-areas: 
    'mission-text-1 mission-image'
    'mission-text-2 mission-image'
    'mission-text-3 mission-image';
    grid-column-gap: 2em;

}

.mission-image {
max-height: 800px;
}
